[Desktop Entry]
Type=Application
Version=1.5
Name=Gromaq
GenericName=Terminal Emulator
Comment=Native Rust GPU terminal emulator
Exec=gromaq
Icon=dev.gromaq.Gromaq
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;prompt;command;gpu;rust;
StartupNotify=true
